############################################
#                                          #
#   noCheat .gitignore file                #
#    /noCheat Web/Front                    #
#                                          #
#     Make sure to merge this with master  #
#     when changes are made!               #
#                                          #
############################################

*.*

################################
# noCheat (Root) Includes

!*.gitignore
!*.md
!*.html
!*.css
!*.png
!*.js
!*.properties
!*.xml

################################
