############################################
#                                          #
#   noCheat .gitignore file                #
#    /Resources                            #
#                                          #
#     Make sure to merge this with master  #
#     when changes are made!               #
#                                          #
############################################

*.*

################################
# noCheat (Root) Includes

!*.gitignore
!*.md
!*.png

################################
